.git
.github
.vscode
.idea
build
dist
data
log
config
*.log
*.p12
*.p8
AuthKey_*.p8
frontend/ugreen-app/node_modules
frontend/ugreen-app/dist
frontend/ugreen-app/builder/*.tar
packaging/ugreen-native-app/build_dir
packaging/ugreen-native-app/rootfs_common/www
tools/ugcli/*.exe
